<footer>
<p>
	This site is maintained by <a href="https://dhniels.com">Dave Nielsen</a> as a community resource. Please credit my work, or support me with a <a href="https://www.paypal.me/dhniels" target="_blank">donation</a>. Feel free to reach out and <a href="/about">contact me</a> if you'd like to contribute content.
</p>
<p>
	BTC donation address: 13ZbVvqSmvznvmgjufPMZ4qnBXc2Ak9uEa
</p>
<p>
	Follow Space Cruisers on <a href="https://twitter.com/spacecruisers" target="_blank">Twitter</a> and <a href="https://www.instagram.com/spacecruisers.tech/" target="_blank">Instagram</a>. This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}.
</p>
</footer>
